<html lang="en">
{{- $publicLists := getJSON "data/public_lists.json" -}}
{{- $listPrefix := relURL "alist/" -}}
{{- partial "head.html" $ -}}

<body>
    {{- partial "header.html" $ -}}
    <main class="w-100 bt b--black-10 bg-white ">
        <article class="mw9 mw6-ns center pt2">
            {{.Content}}
        </article>

        <article id="list-info" class="mw9 mw6-ns center pt2">
            <h1>Public Lists</h1>
            {{range $publicLists}}
            {{- $aList :=  . -}}
            {{- $listUrl := (printf "%s%s.html" $listPrefix $aList.uuid) -}}
            <blockquote class="ml0 mt4 pl3 black-90 bl bw2 b--black">
                <p class="measure-wide black-60">
                    {{ $aList.title }}
                </p>
                <cite class="f5 fs-normal"><a class="black-40 near-black dim"
                        href="{{ $listUrl }}">{{ $aList.uuid }}</a></cite>
            </blockquote>
            {{ end }}
        </article>
    </main>
</body>

</html>
