{{ define "header" }}
{{- partial "title-header.html" . -}}
{{ end }}


{{ define "main" }}
{{- $aList := getJSON "data/alist/" $.Params.Uuid ".json" -}}
{{- $allowed := slice "v1" "v2" "v4" -}}
{{- $interactAllowed := slice "v1" "v2" -}}
<article id="list-info">
    {{- with $aList.info.interact -}}
    {{- if in $interactAllowed $aList.info.type -}}
    {{- partial (printf "alist/%s/menu.html" $aList.info.type) $aList -}}
    {{- end -}}
    {{- end -}}
    {{- if in $allowed $aList.info.type -}}
    <h2 id="list-title">Data</h2>
    <div id="list-data">
        {{- $name := printf "alist/%s/data.html" $aList.info.type -}}
        {{ partial $name $aList }}
        {{- end -}}
    </div>
</article>

<div id="play" style="display:none">
    <script id="play-data" type="application/json">{{ $aList | jsonify | safeJS }}</script>
    <div id="play-screen"></div>
</div>
{{ end }}
