# Ignore all databases
*.db

# GO: Ignore all files in vendor
server/vendor/
server/apiserver
server/e2e/smoke-test

# www-ui
www-ui/node_modules

# alists
server/alists/hugo/content/alists/
server/alists/hugo/data/lists/
server/alists/hugo/public-alist/
server/alists/site-cache/
