# Ignore all databases
*.db

# GO: Ignore all files in vendor
server/vendor/
server/apiserver
server/e2e/smoke-test
server/profile.cov

# www-ui
www-ui/node_modules

# alists
hugo/content/alists/
hugo/data/lists/
hugo/public-alist/

# svelte
svelte/node_modules
svelte/public/*.js
svelte/public/*.map
svelte/public/*.css
