# Ignore all databases
*.db

# GO: Ignore all files in vendor
api/vendor/**
#!api/vendor/modules.txt

# www-ui
www-ui/node_modules

# alists
alists/hugo/content/alists/
alists/hugo/data/lists/
alists/hugo/public-alist/
alists/site-cache/
