<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="icon" href="{{ relURL (printf "favicon.png") }}">
    {{- $stylesheet := .Site.Data.webpack_assets.app -}}
    {{- with $stylesheet.css -}}
      <link href="{{ relURL (printf "%s%s" "dist/" .) }}" rel="stylesheet">
    {{- end -}}
    {{- range .Site.Params.custom_css -}}
      <link rel="stylesheet" href="{{ relURL ($.Site.BaseURL) }}{{ . }}">
    {{- end -}}

    <link rel='stylesheet' href='/css/tachyons.min.css'>
    <script defer src="{{ relURL ("js/user.js") }}"></script>
    <!-- TODO dynamic -->
    {{- with $.Params.Uuid -}}
    {{ $aList := getJSON "data/lists/" $.Params.Uuid ".json" }}
    {{ $allowed := slice "v1" }}
    <!-- TODO make it optional -->
    {{- if in $allowed $aList.info.type -}}
    <script src="{{ relURL (printf "js/%s.js" $aList.info.type) }}"></script>
    <!--
    <script defer src="{{ relURL (printf "alists/js/play.js") }}"></script>
    -->
    {{- end -}}
    {{- end -}}
  </head>

  <body class="w-100 sans-serif bg-white">
  	<user-menu></user-menu>
    {{ block "main" . }}{{- end -}}
  </body>
</html>
